name: Build and deploy my app

on:
  push: 
    branches: 
      - main

jobs: 
  build-deploy:
    name: Build and deploy spring boot for beginners
    runs-on: ubuntu-latest
    steps: 
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup jdk
        uses: actions/setup-java@v5
        with:
          distribution: 'corretto'
          java-version: 17

      - name: Unit tests
        run: mvn -v test --file pom.xml

      - name: Build the application
        run: |
          mvn clean
          mvn -B package --file pom.xml
