name: Build and deploy my app

on:
  push: 
    branches: 
      - main

jobs: 
  build-deploy:
    name: Build and deploy spring boot for beginners
    runs-on: ubuntu-latest
    steps: 
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup jdk
        uses: actions/setup-java@v5
        with:
          distribution: 'corretto'
          java-version: 17

      - name: Unit tests
        run: mvn -v test --file pom.xml

      - name: Build the application
        run: |
          mvn clean
          mvn -B package --file pom.xml

      - name: Build docker image
        uses: actions/build-push-action@v2
        with:
          context: .
          dockerfile: Dockerfile
          push: false
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/spring-boot-for-beginners:$(date-'%Y-%m-%d$H-%M-%s')
      
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Push to Docker Hub
        uses: actions/build-push-action@v2
        with: 
          context: .
          dockerfile: Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/spring-boot-for-beginners:$(date-'%Y-%m-%d$H-%M-%s')
